<%- include('../includes/head.ejs') %>
	<%- include('../includes/navigation.ejs') %>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-comments"></i> Chat Room </h1>
			</header>
			<main class="join-main">
				<form action="/create" method="POST">
					<div class="form-control">
						<input
							type="text"
							name="title"
							id="title"
							placeholder="Enter Room Name .."
							required
						/>
						<button type="submit" class="btn">
							Submit
						</button>
					</div>
				</form>	
				<div>
					<h3>Join Available Rooms</h3>
					<% if (rooms.length <= 0) { %>
						<div style="color: rgb(100, 74, 18); text-align: center; padding: 5px; margin: 20px 10px; font-weight: bold;">
							No Rooms are Available!
						</div>
					<% } else { %>
						<ul>
							<% rooms.forEach(room => { %>
								<li> 
                                    <button type="submit" class="btn">
										<a href="/room/<%= room._id %>" class="btn"><%= room.title %></a>
									</button>
								</li>
							<% }); %>
						</ul>
					<% } %>
				</div>
			</main>
		</div>
<%- include('../includes/end.ejs') %>